
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@theme {
  --color-primary-50: oklch(0.969 0.015 12.422);
  --color-primary-100: oklch(0.941 0.03 12.58);
  --color-primary-200: oklch(0.892 0.058 10.001);
  --color-primary-300: oklch(0.81 0.117 11.638);
  --color-primary-400: oklch(0.712 0.194 13.428);
  --color-primary-500: oklch(0.645 0.246 16.439);
  --color-primary-600: oklch(0.712 0.194 13.428);
  --color-primary-700: oklch(0.645 0.246 16.439);
  --color-primary-800: oklch(0.455 0.188 13.697);
  --color-primary-900: oklch(0.41 0.159 10.272);
 
}
body {
  font-family: "Roboto", sans-serif;
 
}
.my-logo {
  font-family: 'Dancing Script', cursive;
}
